/* ---- BODY SECTION --- */

body {
    margin: 0;
    width: 100%;

    background-color: var(--ym-primary-100);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* ---- MAIN --- */

main {
    width: 95%;
    max-width: 1280px;
    min-height: calc(100vh - 120px);
    padding: 32px;
    margin: 0 128px;
    margin-bottom: 32px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--ym-primary-50);
    border-radius: 16px;
}

.global-container {
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* ---- Detalles --- */
.detalles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 48px;
    align-items: start;
}

/* ---- left --- */
.imagenes-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.images-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 64px;
}

.image-thumbnail {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid var(--ym-primary-200);
    cursor: pointer;
    transition: transform 0.2s ease, border 0.2s ease;
}

.image-thumbnail:hover {
    transform: scale(1.05);
    border: 2px solid var(--ym-primary);
}

.image-thumbnail.active {
    border: 2px solid var(--ym-primary);
}

#auto-imagen {
    flex: 1;
    border-radius: 16px;
    object-fit: contain;
    max-height: 400px;
}

.detalles-auto h3 {
    margin: 0;
    margin-top: 16px;

    font-size: 20px;
    font-weight: 600;
}

.detalles-auto p {
    margin: 0;
    font-size: 14px;
    color: var(--ym-gray-700);
    text-align: justify;
}

/* ---- information --- */

.detalles__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    padding: 16px;
    border: 1px solid var(--ym-primary-200);
    border-radius: 16px;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

.marca {
    font-weight: 400;
}

.modelo {
    font-weight: 600;
}

#auto-type-box {
    font-weight: 400;
    font-size: 16px;
    color: var(--ym-gray-700);
}

#auto-precio {
    font-size: 28px;
    font-weight: 600;
}

.precio p {
    margin: 0;
    font-size: 11px;
    color: var(--ym-gray-700);
}

/* ---- custom --- */
.divider {
    width: 95%;
    margin: 16px auto;
    border: none;
    border-top: 1px solid var(--ym-primary-200);
}

.dato-section__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.dato-section__subtitle h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.dato-section__subtitle .icon {
    width: 32px;
    font-size: 20px;
    line-height: 1;
    color: var(--ym-primary);
}

.dato-section__content {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 13px;
    color: var(--ym-gray-700);
}

/* ---- buttons --- */
.btn-reserve {
    width: 100%;
    padding: 12px 0;
    text-align: center;

    background-color: var(--ym-primary);
    color: var(--ym-primary-50);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.btn-reserve:hover {
    background-color: var(--ym-primary-600);
}

.btn-consult {
    width: 100%;
    padding: 12px 0;
    text-align: center;

    background-color: var(--ym-primary-50);
    color: var(--ym-primary);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--ym-primary);
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.btn-consult:hover {
    background-color: var(--ym-primary-100);
}

.buttons-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.custom-divider {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.custom-divider hr {
    flex: 1;
    border: none;
    border-top: 1px solid var(--ym-primary-200);
}

.or-text {
    margin: 0;

    font-size: 14px;
    color: var(--ym-primary-300);
    white-space: nowrap;
}

.divider-separator{
    width: 100%;
    border: none;
    border-top: 1px solid var(--ym-primary-200);
    margin: 32px 0;
}

/* ---- similares --- */

.similares {
    width: 100%;
}

.similares h3 {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
}

.similares__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

/* card de auto */
.link-detalle {
    text-decoration: none;
    color: inherit;
}

.card-car {
    background: #fff;
    border: 1px solid var(--ym-gray-400);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.car-image-container {
    background-color: var(--ym-primary-100);
    border-radius: 8px 8px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-car img {
    width: 70%;
    padding: 8px 0;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.informacion {
    padding: 12px;
}

.car-marca {
    font-weight: 400;
    font-size: 16px;
}

.car-modelo {
    color: var(--ym-primary-800);
    font-weight: 600;
    font-size: 24px;
}

.car-tipo-caja {
    font-weight: 400;
    font-size: 13px;
    color: var(--ym-gray-700);
}

.car-desde {
    font-weight: 400;
    font-size: 12px;
    color: var(--ym-gray-700);
}

.car-precio {
    margin-top: 16px;

    color: var(--ym-primary);
    font-weight: 400;
    font-size: 24px;

    display: flex;
    flex-direction: column;
}