.card-car {
    background: #fff;
    border: 1px solid var(--ym-gray-400);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 1rem;

    &:hover {
        box-shadow: 0 0 8px 1px var(--ym-primary-alpha);
        transform: translateY(-1px);
    }

    &__link-detalle {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
    }

    &__image-container {
        background-color: var(--ym-primary-100);
        border-radius: 8px 8px 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
            padding: 8px 0;
            border-radius: 8px;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
    }

    &__informacion {
        padding: 12px;

        &__datos {
            display: flex;
            flex-direction: column;
            gap: 2px;

            &__marca {
                font-weight: 300;
                font-size: 1.25em;
                color: var(--ym-primary-900);
            }

            &__modelo {
                color: var(--ym-primary-800);
                font-weight: 600;
                font-size: 1.75em;
            }

            &__tipo-caja {
                font-weight: 400;
                font-size: 1em;
                color: var(--ym-gray-700);
            }
        }

        &__precio {
            margin-top: 16px;
            color: var(--ym-primary);
            font-weight: 400;
            font-size: 1.5em;
            display: flex;
            flex-direction: column;

            &__desde {
                font-weight: 300;
                font-size: 0.65em;
                color: var(--ym-gray-700);
            }
        }
    }
}