@use "./_variables.scss";

* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    color: var(--ym-primary-950);
    background-color: var(--ym-primary-50);
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

.bold { font-weight: 700; }

.hidden { display: none; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}