@use "./_variables.scss";

* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    color: var(--ym-primary-950);
    background-color: var(--ym-primary-100);
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

.bold { font-weight: 700; }

.hidden { display: none; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.page {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--ym-primary-100);
}

.page-container {
    width: 100vw;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: 0 auto 64px;
}

.page-content {
    width: 95%;
    margin: 0 128px;
    box-sizing: border-box;
    background-color: var(--ym-primary-50);
    border-radius: 16px;
}