/* ---- GENERAL STYLES --- */

:root {
/* estados base */
    --arrow-off: grayscale(1) brightness(0.65);
    --arrow-on: brightness(0) saturate(100%) invert(49%) sepia(80%) 
        saturate(466%) hue-rotate(170deg) brightness(92%) contrast(91%); 
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: var(--ym-primary-50);
}

/* ---- HEADER --- */

header {
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.7) 0%, rgb(0, 0, 0, 0) 100%);
    border-bottom: none;
    
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

h1 {
    color: var(--ym-primary-50);
}

#header-buttons a:nth-child(-n+3) {
    color: var(--ym-primary-50);
}

#header-buttons a:nth-child(-n+3):hover {
    color: var(--ym-primary-200);
}

/* ---- MAIN --- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    box-sizing: border-box;
}

/* ---- HERO SECTION --- */

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../../imagenes/four_teslas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__content {
    width: 100vw;
    max-width: 1400px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-left: 64px;
    text-align: left;
}

.hero__content h2{
    color: var(--ym-primary-50);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3.5em;
    margin: 0;
    padding: 0;
}

.btn-catalogo-hero {
    text-decoration: none;
    color: var(--ym-primary-50);
    background-color: var(--ym-primary);
    padding: 16px 48px;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 600;
    width: fit-content;

    transition: background-color 0.3s ease;
}

.btn-catalogo-hero:hover {
    background-color: var(--ym-primary-600);
}

.hero__arrows {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero__arrows img{
    width: 64px;
    will-change: filter;
    opacity: 0.8;
    user-select: none;
}

.hero__arrows img:nth-child(1){
    animation: seqTop 2s infinite steps(1, end);
}

.hero__arrows img:nth-child(2){
    animation: seqBottom 2s infinite steps(1, end);
}

@keyframes seqTop{
    0%, 16.6%   { filter: var(--arrow-on); }   /* prende arriba */
    16.7%, 100% { filter: var(--arrow-off); }  /* apagada resto del tiempo */
}

@keyframes seqBottom{
    0%, 8.3%    { filter: var(--arrow-off); }  /* espera mientras prende la de arriba */
    8.4%, 25%   { filter: var(--arrow-on); }   /* prende abajo */
    25.1%, 100% { filter: var(--arrow-off); }  /* apagada hasta volver a empezar */
}

/* ---- GLOBAL CONTAINER --- */
.global-container {
    width: 100%;
    max-width: 1400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
}

section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
    padding: 0 16px;
}

h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 28px;
    color: var(--ym-primary-900);
    justify-self: start; 
    align-self: flex-start;
}

/* ---- BEST SELLER SECTION --- */
.best-seller__content {
    width: 100%;
    margin-inline: auto;
    display: grid;
    row-gap: 12px;
}

.best-seller__viewport {
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-seller__list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
    gap: 12px;
}

.best-seller__item { /* TODO */
    width: 100%;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px;
}


/* ---- BRAND SECTION --- */



/* ---- SEGMENTO SECTION --- */



/* ---- ABOUT US SECTION --- */



/* ---- TESTIMONIOS SECTION --- */



/* ---- NEWSLETTER SECTION --- */



/* ---- FOOTER --- */
