/* ---- GENERAL STYLES --- */

.bold {
    font-weight: 700;
}

/* ---- BODY SECTION --- */

body {
    margin: 0;
    width: 100%;

    background-color: var(--ym-primary-100);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* ---- HEADER SECTION --- */

/* En el general */

/* ---- BREADCRUMB SECTION --- */

nav[aria-label="breadcrumb"] {
    width: 95%;
    max-width: 1280px;
}

nav[aria-label="breadcrumb"] a {
    text-decoration: none;
    font-weight: 400;
}

nav[aria-label="breadcrumb"] a:hover {
    text-decoration: underline;
    color: var(--ym-primary-600);
}

nav[aria-label="breadcrumb"] ol {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
}

nav[aria-label="breadcrumb"] li::after {
    content: "/";
    margin-left: 4px;
}

nav[aria-label="breadcrumb"] li:last-child::after {
    content: "";
}

/* ---- MAIN --- */

main {
    width: 95%;
    max-width: 1280px;
    padding: 32px 0 64px 0;
    margin: 0 128px;
    margin-bottom: 32px;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--ym-primary-50);
    border-radius: 16px;
}

.global-container {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---- MAIN-HEADER SECTION --- */

.main-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;

    margin-bottom: 16px;
}

h2 {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.divider {
    width: 100%;
    border: 0.5px solid var(--ym-primary-200);
}

.subtitles {
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.subtitles__order {
    display: flex;
    align-items: center;
}

.subtitles__order__order-by {
    border: none;

    background-color: var(--ym-primary-50);
    
    font-family: Quicksand, sans-serif;
    color: var(--ym-primary-700);
    font-weight: 500;
    font-size: 14px;
    
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.subtitles__order__order-by:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px var(--ym-primary-100);
}

.subtitles__order__order-by:hover {
    border: none;
    color: var(--ym-primary-600);
    background-color: var(--ym-primary-50);
}

.subtitles__order__order-by option {
    font-family: Quicksand, sans-serif;
}
/* ---- PRODUCTS AND FILTERS SECTION --- */
.products-and-filters {
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 24px;
    align-items: start;
}

/* filtros */
.filters {
    height: 100%;
    background: var(--ym-primary-100);
    border: 1px solid var(--ym-gray-400);
    border-radius: 8px;
    padding: 16px;
    position: sticky;
    top: 16px;
}

/* lista de productos */
.list-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
}

/* card de auto */
.link-detalle {
    text-decoration: none;
    color: inherit;
}

.card-car {
    background: #fff;
    border: 1px solid var(--ym-gray-400);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.car-image-container {
    background-color: var(--ym-primary-100);
    border-radius: 8px 8px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-car img {
    width: 70%;
    padding: 8px 0;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.informacion {
    padding: 12px;
}

.marca {
    font-weight: 300;
    font-size: 20px;
}

.modelo {
    color: var(--ym-primary-800);
    font-weight: 600;
    font-size: 28px;
}

.tipo-caja {
    font-weight: 400;
    font-size: 16px;
    color: var(--ym-gray-700);
}

.precio {
    margin-top: 16px;

    color: var(--ym-primary-600);
    font-weight: 400;
    font-size: 24px;

    display: flex;
    flex-direction: column;
}

.desde {
    font-weight: 300;
    font-size: 16px;
    color: var(--ym-gray-700);
}