/* ---- GENERAL STYLES --- */

.bold {
    font-weight: 700;
}

/* ---- BODY SECTION --- */

body {
    margin: 0;
    width: 100%;
    
    font-family: Quicksand, sans-serif;
    background-color: var(--ym-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* ---- HEADER SECTION --- */

/* En el general */

/* ---- BREADCRUMB SECTION --- */

nav[aria-label="breadcrumb"] a {
    text-decoration: none;
    color: var(--ym-on-bg-variant);
    font-weight: 400;
}

nav[aria-label="breadcrumb"] a:hover {
    text-decoration: underline;
    color: var(--ym-primary-dark);
}

nav[aria-label="breadcrumb"] ol {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0;
    margin: 0;
}

nav[aria-label="breadcrumb"] li::after {
    content: "/";
    margin-left: 4px;
    color: var(--ym-on-bg-variant);
}

nav[aria-label="breadcrumb"] li:last-child::after {
    content: "";
}

/* ---- MAIN SECTION --- */

main {
    width: 100%;
    max-width: 1280px;
    min-height: 280vh;
    padding: 32px 64px;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--ym-surface);
    border-radius: 16px;
    color: var(--ym-on-background);
}

.main-content {
    width: 100%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h2 {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
