/* ---- GENERAL STYLES --- */

:root {
/* YM-Primary */
    --ym-primary-950: #102a41; /* casi negro */
    --ym-primary-900: #184262; /* textos en fondo claro */
    --ym-primary-800: #164d76; /* desc */
    --ym-primary-700: #165b8e; /* desc */
    --ym-primary-600: #1a72af; /* desc */
    --ym-primary: #2a94d5; /* primary */
    --ym-primary-400: #4faae1; /* desc */
    --ym-primary-300: #8cc7ed; /* desc */
    --ym-primary-200: #c2dff5; /* desc */
    --ym-primary-100: #e4effa; /* surface */
    --ym-primary-50: #f2f8fd; /* textos en fondo oscuro y para fondos claros */

/* YM-Gray */
    --ym-gray-800: #435364; /* footer */
    --ym-gray-700: #5A6B7D; /* textos secundarios e iconos */
    --ym-gray-400: #A6B3C3;  /* bordes y divisores suaves */

/* YM-Extras */
    --ym-accent: #F43F5E;

/* Tipografía */
    --ym-font-main: 'Quicksand', sans-serif;
}

/* ---- HEADER --- */

header {
    height: 80px;
    width: 100%;  
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    background: var(--ym-background-alpha);

    border-bottom: var(--ym-on-bg-variant) 0.1px solid;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#header-container {
    width: 100%;
    max-width: 1600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    gap: 8px;
    padding: 16px;
}

#logo {
    height: 32px;
    user-select: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color:var(--ym-on-background);
}

#header-buttons {
    display: flex;
    align-items: center;
    
    gap: 16px;
    padding: 16px;
}

#header-buttons a:nth-child(-n+3) {
    text-decoration: none;
    color: var(--ym-on-bg-variant);
    letter-spacing: 2px;

    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

#header-buttons a:nth-child(-n+3):hover {
    text-decoration: underline;
    color: var(--ym-primary-dark);
}

#btn-catalogo {
    text-decoration: none;
    color: var(--ym-on-primary);
    background-color: var(--ym-primary);
    padding: 8px 32px;
    border-radius: 50px;
    font-weight: 600;
    
    transition: background-color 0.3s ease;
}

#btn-catalogo:hover {
    background-color: var(--ym-primary-dark);
}
nav[aria-label="breadcrumb"] {
    padding-top: 100px;
    width: 100%;
    max-width: 1280px;
    letter-spacing: 2px;
}