/* ---- GENERAL STYLES --- */

:root {
/* Colores base */
    --ym-primary: #2A94D5;
    --ym-primary-light: #CDEFFC;
    --ym-primary-dark: #2378AB;
    --ym-accent: #F43F5E;

/* Fondo y superficies */
    --ym-background: #F2F4F6;
    --ym-surface: #FFFFFF;

/* Texto */
    --ym-on-primary: #FFFFFF;
    --ym-on-background: #212121;
    --ym-on-bg-variant: #6B6B6B;

/* Tipografía */
    --ym-font-main: 'Quicksand', sans-serif;
}

/* ---- HEADER --- */

header {
    height: 80px;
    width: 100%;  
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    background: var(--ym-background-alpha);

    border-bottom: var(--ym-on-bg-variant) 0.1px solid;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#header-container {
    width: 100%;
    max-width: 1600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    gap: 8px;
    padding: 16px;
}

#logo {
    height: 32px;
    user-select: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color:var(--ym-on-background);
}

#header-buttons {
    display: flex;
    align-items: center;
    
    gap: 16px;
    padding: 16px;
}

#header-buttons a:nth-child(-n+3) {
    text-decoration: none;
    color: var(--ym-on-bg-variant);
    letter-spacing: 2px;

    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

#header-buttons a:nth-child(-n+3):hover {
    text-decoration: underline;
    color: var(--ym-primary-dark);
}

#btn-catalogo {
    text-decoration: none;
    color: var(--ym-on-primary);
    background-color: var(--ym-primary);
    padding: 8px 32px;
    border-radius: 50px;
    font-weight: 600;
    
    transition: background-color 0.3s ease;
}

#btn-catalogo:hover {
    background-color: var(--ym-primary-dark);
}
nav[aria-label="breadcrumb"] {
    padding-top: 100px;
    width: 100%;
    max-width: 1280px;
    letter-spacing: 2px;
}